<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-md-10 mt-5">
      <div class="card p-3">
        <div class="card-header d-flex justify-content-between p-3">
          <strong>Organization</strong>
          <button
            type="button"
            class="fw-bold btn btn-outline-dark"
            [routerLink]="[
              '/super-admin',
              { outlets: { super_Menu: 'add-organization' } }
            ]"
          >
            Add
          </button>
        </div>
        <div class="card-body">
          <div class="col-md-12">
            <div class="table-responsive">
              <table class="table table-hover table-bordered">
                <thead class="table-dark">
                  <tr>
                    <th scope="col">Sr.No</th>
                    <th scope="col">Organization Name</th>
                    <th scope="col">Email Id</th>
                    <th scope="col">Contact Number</th>
                    <th scope="col">Address</th>
                    <th scope="col">Edit</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of allOrganizationList; let i = index">
                    <td>{{ i + 1 }}</td>
                    <td>{{ item.org_name | titlecase }}</td>
                    <td>{{ item.email_id }}</td>
                    <td>{{ item.contact_number }}</td>
                    <td>{{ item.address | titlecase }}</td>
                    <td>
                      <i
                        class="fa fa-solid fa-pen-to-square fs-4"
                        [routerLink]="[
                          '/super-admin',
                          {
                            outlets: {
                              super_Menu: ['edit-organization', item.org_id]
                            }
                          }
                        ]"
                      ></i>
                    </td>
                  </tr>
                  <tr
                    class="fw-bold text-center"
                    *ngIf="allOrganizationList.length === 0"
                  >
                    <td colspan="10" class="text-danger">No Data Available</td>
                  </tr>
                </tbody>
              </table>

              <div class="col-md-12">
                <mat-paginator
                  [length]="total"
                  [pageSize]="perPage"
                  [pageSizeOptions]="[5, 10, 25, 100]"
                  aria-label="Select page"
                  [showFirstLastButtons]="true"
                  (page)="onPageChange($event)"
                >
                </mat-paginator>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
