<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 text mt-5">
      <p class="text-color">SPECULATE DAILY FANTASY</p>
      <p></p>
      <h1 class="text-color-1">YOUR TICKET TO</h1>
      <h1 class="text-color-2">THRILLING WINS</h1>
      <button class="btn fw-bold p-3 mt-3 mb-3">Play Now</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 d-flex justify-content-center win-card">
      <a class="card-1"
        ><img
          src="../../assets/images/home-page-card/INSTANT_card_1.png"
          alt="Logo"
      /></a>
      <a class="card-2"
        ><img
          src="../../assets/images/home-page-card/homepage-win.png"
          alt="Logo"
      /></a>
      <a class="card-3"
        ><img src="../../assets/images/home-page-card/27_card_3.png" alt="Logo"
      /></a>
    </div>
  </div>
  <div class="row m-5">
    <div class="col-md-12 games border">
      <div class="img">
        <a class="img-1"
          ><img src="../../assets/images/nba-img.png" alt="Logo"
        /></a>
        <h1 class="img-1-text">NBA</h1>
      </div>
      <div class="img">
        <a class="img-1"
          ><img src="../../assets/images/MLB_img.png" alt="Logo"
        /></a>
        <h1 class="img-1-text">MLB</h1>
      </div>
      <div class="img">
        <a class="img-1"
          ><img src="../../assets/images/cfb_img.png" alt="Logo"
        /></a>
        <h1 class="img-1-text">CFB</h1>
      </div>
      <div class="img">
        <a class="img-1"
          ><img src="../../assets/images/nhl_img.png" alt="Logo"
        /></a>
        <h1 class="img-1-text mt-4">NHL</h1>
      </div>
      <div class="img">
        <a class="img-1"
          ><img src="../../assets/images/nfl_img.png" alt="Logo"
        /></a>
        <h1 class="img-1-text">NFL</h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-sec">
      <p class="text-1">Getting in the Game</p>
      <h6 class="text-3">
        Dive into <a class="text-2">Speculate Daily Fantasy </a>
      </h6>
      <h1 class="text-3">With Confidence</h1>
    </div>
  </div>
  <div class="row action-card">
    <div class="col-md-12 mt-5 d-flex justify-content-center">
      <a class="action-card-1"
        ><img src="../../assets/images/action_card-1.png" alt="Logo"
      /></a>
      <a class="action-card-3 mt-3"
        ><img src="../../assets/images/action_card_2.png" alt="Logo"
      /></a>
    </div>

    <div class="me-3">
      <a class="action-card-2"
        ><img src="../../assets/images/action_card_3.png" alt="Logo"
      /></a>
    </div>
  </div>
  <div class="row dive-into">
    <div class="col-md-12 d-flex justify-content-center">
      <h6 class="text-1">Enter the <a class="text-2"> Excitement </a></h6>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 d-flex justify-content-center mt-5">
      <a class="card-1"
        ><img src="../../assets/images/excitement_card_img.png" alt="Logo"
      /></a>
    </div>
  </div>
  <div class="row cup mt-5">
    <div class="col-md-12 Predictions">
      <div class="Prediction">
        <h6 class="text-1">Turn<a class="text-2"> Predictions </a></h6>
      </div>
      <div class="Profit">
        <h6 class="text-1">Into<a class="text-2"> Profits </a></h6>
      </div>
    </div>
    <a class="win-cup"
      ><img src="../../assets/images/win-cup.png" alt="Logo"
    /></a>
  </div>
  <div class="row profit mt-5">
    <div class="col-md-7">
      <p class="text">
        With Speculate Daily Fantasy, your predictions aren't just for bragging
        rights—they're your ticket to cash prizes! Witness the excitement of
        winning real money as your chosen players exceed expectations.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 ready-now">
      <h6 class="text-3">Ready to <a class="text-2">Win Big ? </a></h6>
      <p class="text">Don't Miss Out—Join The Excitement Today!</p>
    </div>
    <div class="d-flex justify-content-center mb-3 mt-4">
      <button class="btn fw-bold me-3" routerLink="sign-up">Sign Up Now</button>
    </div>
  </div>
</div>
