<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-md-10 mt-5">
      <div class="card p-3">
        <div class="card-header bg-dark d-flex justify-content-between p-3">
          <strong class="text-white">{{ isEdit ? " Edit" : "Add " }} Sports</strong>
        </div>
        <div class="card-body">

          <form [formGroup]="sportsForm">
            <div class="row">
              <div class="mb-3 col-md-6">
                <label for="sports_name" class="mb-1">Sports Name
                  <span style="color: red" *ngIf="!controls['sports_name'].value">*</span>
                </label>
                <input type="text" class="form-control" id="exampleInputname1" formControlName="sports_name"
                  aria-describedby="emailHelp" [ngClass]="{
                      'is-invalid':
                        controls['sports_name'].invalid &&
                        (controls['sports_name'].dirty ||
                          controls['sports_name'].touched)
                    }" />
                <div class="text-danger" *ngIf="
                      controls['sports_name'].invalid &&
                      (controls['sports_name'].dirty ||
                        controls['sports_name'].touched)
                    ">
                  <small>Please provide a valid Sports Name.</small>
                </div>
              </div>
              <div class="mb-3 col-md-6">
                <label for="name" class="mb-1">Small Name
                  <span style="color: red" *ngIf="!controls['small_name'].value">*</span>
                </label>
                <input type="text" class="form-control" id="exampleInputEmail1" formControlName="small_name"
                  aria-describedby="emailHelp" [ngClass]="{
                      'is-invalid':
                        controls['small_name'].invalid &&
                        (controls['small_name'].dirty ||
                          controls['small_name'].touched)
                    }" />
                <span class="text-danger" *ngIf="
                      controls['small_name'].invalid &&
                      (controls['small_name'].dirty || controls['small_name'].touched)
                    ">
                  <div *ngIf="controls['small_name'].errors?.['required']" class="d-flex justify-content-start">
                    <small>Small Name is required</small>
                  </div>
                </span>
              </div>
            </div>
            <div class="row">
              <div class="mb-3 col-md-6">
                <label for="api_keys" class="mb-1">Api Keys
                  <span style="color: red" *ngIf="!controls['api_keys'].value">*</span>
                </label>
                <input type="text" class="form-control" id="exampleInputname1" formControlName="api_keys"
                  aria-describedby="emailHelp" [ngClass]="{
                        'is-invalid':
                          controls['api_keys'].invalid &&
                          (controls['api_keys'].dirty ||
                            controls['api_keys'].touched)
                      }" />
                <div class="text-danger" *ngIf="
                        controls['api_keys'].invalid &&
                        (controls['api_keys'].dirty ||
                          controls['api_keys'].touched)
                      ">
                  <small>Please provide a valid Api Keys.</small>
                </div>
              </div>
              <div class="mb-3 col-md-6">
                <label for="description" class="mb-1">Description
                  <span style="color: red" *ngIf="!controls['description'].value">*</span>
                </label>
                <textarea type="text" class="form-control " id="exampleInputname1" formControlName="description"
                  aria-describedby="emailHelp" [ngClass]="{
                        'is-invalid':
                          controls['description'].invalid &&
                          (controls['description'].dirty ||
                            controls['description'].touched)
                      }"></textarea>
                <div class="text-danger" *ngIf="
                        controls['description'].invalid &&
                        (controls['description'].dirty ||
                          controls['description'].touched)
                      ">
                  <small>Please provide a valid Description.</small>
                </div>
              </div>
            </div>
            <div class="col-md-6 ">
              <div class="form-group">
                <label for="logo1Name">Long Image</label>
                <input type="file" class="form-control" id="logo1Name" (change)="onImageChange($event)"
                  accept=".jpeg, .jfif, .pjpeg, .pjp, .png, .jpg" [ngClass]="{
                      'is-invalid':
                        controls['logo1Name'].invalid &&
                        (controls['logo1Name'].dirty ||
                          controls['logo1Name'].touched)
                    }" />
                <span *ngIf="
                      controls['logo1Name'].invalid &&
                      (controls['logo1Name'].dirty ||
                        controls['logo1Name'].touched)
                    " class="text-danger p-1">
                  <span *ngIf="controls['logo1Name'].errors?.['required']">Long Image is required.
                  </span>
                </span>
              </div>
              <img #imagePreview class="mt-3 image img-fluid" src="{{ baseUrlImage+'images/sports/'+logo1Name }}"
                style="width: 300px; height: 300px; padding: 15px;" alt="" />
            </div>
            <div>
              <button type="submit" class="btn btn-warning" (click)="submit()">
                {{ isEdit ? "Update" : "Submit" }}
              </button>
              <button type="submit" class="btn btn-secondary ms-3" [routerLink]="[
                    '/super-admin',
                    { outlets: { super_Menu: 'sports' } }
                  ]">
                Cancel
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>