<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-md-10 mt-5">
      <div class="card p-3">
        <div class="card-header bg-dark d-flex justify-content-between p-3">
          <strong class="text-white"> Edit Organization User</strong>
        </div>
        <div class="card-body">
          <!-- {{organizationForm.value | json}} -->
          <form [formGroup]="organizationUserForm">
            <div class="row">
              <div class="mb-3 col-md-6">
                <label for="user_name" class="mb-1"
                  >User Name
                  <span class="text-danger" *ngIf="!controls['user_name'].value"
                    >*</span
                  >
                </label>
                <input
                  type="text"
                  class="form-control"
                  id="exampleInputname1"
                  formControlName="user_name"
                  aria-describedby="emailHelp"
                  [ngClass]="{
                    'is-invalid':
                      controls['user_name'].invalid &&
                      (controls['user_name'].dirty ||
                        controls['user_name'].touched)
                  }"
                />
                <div
                  class="text-danger"
                  *ngIf="
                    controls['user_name'].invalid &&
                    (controls['user_name'].dirty ||
                      controls['user_name'].touched)
                  "
                >
                  <small>Please provide a valid User Name.</small>
                </div>
              </div>
              <div class="mb-3 col-md-6">
                <label for="name" class="mb-1"
                  >Email Id
                  <span class="text-danger" *ngIf="!controls['email_id'].value"
                    >*</span
                  >
                </label>
                <input
                  type="text"
                  class="form-control"
                  id="exampleInputEmail1"
                  formControlName="email_id"
                  aria-describedby="emailHelp"
                  [ngClass]="{
                    'is-invalid':
                      controls['email_id'].invalid &&
                      (controls['email_id'].dirty ||
                        controls['email_id'].touched)
                  }"
                />
                <span
                  class="text-danger"
                  *ngIf="
                    controls['email_id'].invalid &&
                    (controls['email_id'].dirty || controls['email_id'].touched)
                  "
                >
                  <div
                    *ngIf="controls['email_id'].errors?.['required']"
                    class="d-flex justify-content-start"
                  >
                    <small>Email Address is required</small>
                  </div>
                  <div
                    *ngIf="controls['email_id'].errors?.['email']"
                    class="d-flex justify-content-start"
                  >
                    <small> Email must be a valid email address</small>
                  </div>
                </span>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 mb-3">
                <div class="form-float">
                  <label for="duration" class="mb-1"
                    >User Type
                    <span
                      class="text-danger"
                      *ngIf="!controls['user_type_id'].value"
                      >*</span
                    ></label
                  >
                  <select
                    class="form-select"
                    id="User"
                    formControlName="user_type_id"
                    [ngClass]="{
                      'is-invalid':
                        controls['user_type_id'].invalid &&
                        (controls['user_type_id'].dirty ||
                          controls['user_type_id'].touched)
                    }"
                  >
                    <option value="null" disabled selected class="fs-6">
                      Select User Type
                    </option>
                    <ng-container
                      *ngFor="let item of allOrganizationUserTypeList"
                    >
                      <option
                        *ngIf="
                          item.user_type_id !== 1 && item.user_type_id !== 4
                        "
                        [value]="item.user_type_id"
                      >
                        {{ item.user_type }}
                      </option>
                    </ng-container>
                  </select>
                </div>
                <span class="text-danger">
                  <div
                    *ngIf="
                      controls['user_type_id'].invalid &&
                      (controls['user_type_id'].dirty ||
                        controls['user_type_id'].touched)
                    "
                  >
                    <small>User type is required</small>
                  </div>
                </span>
              </div>
              <div class="col-md-6 mb-3">
                <div class="form-float">
                  <label for="org id" class="mb-1"
                    >Organization
                    <span class="text-danger" *ngIf="!controls['org_id'].value"
                      >*</span
                    ></label
                  >
                  <select
                    class="form-select"
                    id="org_id"
                    formControlName="org_id"
                    [ngClass]="{
                      'is-invalid':
                        controls['org_id'].invalid &&
                        (controls['org_id'].dirty || controls['org_id'].touched)
                    }"
                  >
                    <option value="null" disabled selected class="fs-6">
                      Select Organization Name
                    </option>
                    <ng-container>
                      <option
                        *ngFor="let item of allOrganizationList"
                        [value]="item.org_id"
                      >
                        {{ item.org_name }}
                      </option>
                    </ng-container>
                  </select>
                </div>
                <span class="text-danger">
                  <div
                    *ngIf="
                      controls['org_id'].invalid &&
                      (controls['org_id'].dirty || controls['org_id'].touched)
                    "
                  >
                    <small>Organization is required</small>
                  </div>
                </span>
              </div>
            </div>
            <div>
              <button type="submit" class="btn btn-warning" (click)="submit()">
                Update
              </button>
              <button
                type="submit"
                class="btn btn-secondary ms-3"
                [routerLink]="[
                  '/admin',
                  { outlets: { admin_Menu: 'user-organization' } }
                ]"
              >
                Cancel
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
