<div class="container-fluid p-0">
  <div class="row h-100 m-0">
    <div class="side-bar">
      <div class="logo p-3">
        <img
          class="large-logo"
          src="../../assets/images/logo/speculate_logo.png"
          alt="SurveyBrewery"
        />
      </div>
      <div class="menu">
        <ul class="nav flex-column" id="sidebarMenu">
          <li class="nav-item">
            <a
              class="nav-link"
              [routerLink]="[
                '/super-admin',
                { outlets: { super_Menu: 'super-admin' } }
              ]"
              >Dashboard</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link d-flex justify-content-between align-items-center"
              data-bs-toggle="collapse"
              href="#profileMenu"
              role="button"
              aria-expanded="false"
              aria-controls="profileMenu"
            >
              Organization
              <span class="arrow"></span>
            </a>
            <ul
              class="collapse list-unstyled"
              id="profileMenu"
              data-bs-parent="#sidebarMenu"
            >
              <li class="nav-item">
                <a
                  class="nav-link"
                  [routerLink]="[
                    '/super-admin',
                    { outlets: { super_Menu: 'organization' } }
                  ]"
                  >Create</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  [routerLink]="[
                    '/super-admin',
                    { outlets: { super_Menu: 'organization-user' } }
                  ]"
                  >User</a
                >
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              [routerLink]="[
                '/super-admin',
                { outlets: { super_Menu: 'sports' } }
              ]"
              >Sports</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              [routerLink]="[
                '/super-admin',
                { outlets: { super_Menu: 'states' } }
              ]"
              >States</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link d-flex justify-content-between align-items-center"
              data-bs-toggle="collapse"
              href="#mastersMenu"
              role="button"
              aria-expanded="false"
              aria-controls="mastersMenu"
            >
              Betting Type
              <span class="arrow"></span>
            </a>
            <ul
              class="collapse list-unstyled"
              id="mastersMenu"
              data-bs-parent="#sidebarMenu"
            >
              <li class="nav-item">
                <a
                  class="nav-link"
                  [routerLink]="[
                    '/super-admin',
                    { outlets: { super_Menu: 'event' } }
                  ]"
                  >Event</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  [routerLink]="[
                    '/super-admin',
                    { outlets: { super_Menu: 'market' } }
                  ]"
                  >Market</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  [routerLink]="[
                    '/super-admin',
                    { outlets: { super_Menu: 'outcome' } }
                  ]"
                  >Outcome</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  [routerLink]="[
                    '/super-admin',
                    { outlets: { super_Menu: 'period' } }
                  ]"
                  >Period</a
                >
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a
              class="nav-link d-flex justify-content-between align-items-center"
              data-bs-toggle="collapse"
              href="#gamblingMenu"
              role="button"
              aria-expanded="false"
              aria-controls="gamblingMenu"
            >
              Settings
              <span class="arrow"></span>
            </a>
            <ul
              class="collapse list-unstyled"
              id="gamblingMenu"
              data-bs-parent="#sidebarMenu"
            >
              <li class="nav-item">
                <a
                  class="nav-link"
                  [routerLink]="[
                    '/super-admin',
                    { outlets: { super_Menu: 'configuration' } }
                  ]"
                  >Configuration</a
                >
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="">Logout</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="body">
      <router-outlet name="super_Menu"></router-outlet>
    </div>
  </div>
</div>
